node_modules
output.txt
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\development\corona\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/


.idea/
*.iml
